__pycache__/room_calc.cpython-310.pyc
__pychache__/cpython-310.pyc
__pycache__/room_calc.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
__pycache__/session_utils.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
__pycache__/stream.cpython-311.pyc

Berechnungen_Notebook.ipynb
__pycache__/utils.cpython-311.pyc
raum.obj
