__pycache__/room_calc.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
__pycache__/utils.cpython-310.pyc
__pycache__/room_calc.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
Berechnungen_Notebook.ipynb
